@import "animation.css"; /*애니메이션 따로 관리*/



@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_SONGEULSSI.woff');

/*html, body{*/
/*    min-height: 100vh;*/
/*}*/




html{
    /*그라디언트 설정*/
    background: linear-gradient(170deg ,rgba(236,160,160,1) 0%, rgba(255,255,255,1) 100%);
    min-height: 100vh;

}

body{
    /*화면 전체*/
    margin: 0 auto;
    padding: 30px;
    max-width: 1280px;

    .container {

        /*font-family: 'KOTRA_SONGEULSSI';*/

        /*font-family: 'Nanum Brush Script', cursive;*/

    }

}

* {
    -webkit-tap-highlight-color: transparent;
}


@font-face {
    font-family: 'KOTRA_SONGEULSSI';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_SONGEULSSI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ------- 스크롤 바 커스텀 ------- */

body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #EB6859; /* 스크롤바의 색상 */
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #FC8862;

}

/* --- */

pre::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
}

pre::-webkit-scrollbar-thumb {
    height: 50%; /* 스크롤바의 길이 */
    background: rgba(122, 122, 122, 0.85); /* 스크롤바의 색상 */
    border-radius: 2.5px;
}

pre::-webkit-scrollbar-track {
    background: none;  /*스크롤바 뒷 배경 색상*/
    /*border-radius: 2px;*/
}


/* ------- 스크롤 바 커스텀 ------- */


:root {
    /*방명록 배경 색상 팔레트*/
    --palette1 : #FC7174;
    --palette2 : #EB6859;
    --palette3 : #FC8862;
    --palette4 : #FDA26B;
    --palette5 : #FDBB63;


    /*검색 조건 비활성화 색상*/
    --disableSearchCondition : rgba(16, 16, 16, 0.3);
}

