
.sideFunctions {
    position: fixed;
    width: 50px;
    height: 100px;
    right: 2%;
    bottom: -100px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 500ms ease-in-out;
}

.sideFunctions.active {

    bottom: 10px;
    opacity: 0.8;

}

.sideFunctions .background{
    border: none;
    background: #000;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.scrollToTop {
}

.scrollToTop::after{
    content: "";

    position: relative;

    left: 6px;
    top: 3px;
    display: block;
    width: 10px;
    height: 10px;

    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-radius: 1px;
}
.scrollToTop::after {
    transform: rotate(45deg);
}


.scrollToTop:hover{
    transform: translate3d(0, -5px, 0);
}


.sideAddGuestBook:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 15px;
    background: white;
    border-radius: 1px;
}

.sideAddGuestBook:before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 15px;
    width: 2px;
    background: white;
    border-radius: 1px;
}

.sideAddGuestBook:hover {
    transform: scale(1.2);
}
