

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate-effect {
    to {
        --angle: 360deg;
    }
}

.loading {
    width: 100%;
    height: 70%;
    min-height: 350px;
    border-radius: 3%;
    border: 0.1px solid black;
    display: flex;
    justify-content: center;
    opacity: 0.3;
    background: linear-gradient(
            var(--angle, 0deg),rgb(236,160,160) 0%, rgb(255,255,255) 100%
    );
    animation: rotate-effect 2s infinite;;
}
